<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/css/send-otp.css">
</head>
<body>
    <h1>OTP Verification</h1>

    <form action="/auth/send-otp" method="POST">
        <label for="email">Nhập email của bạn:</label>
        <input type="email" name="email" id="email" required />
        <button type="submit">Gửi mã OTP</button>
      </form>
      
</body>
</html>